node_modules
package-lock.json
scripts
m.circom
m2.circom
*.dev
*.dev.*
dev
dev.*
tools
circuits/hasher/*
circuits/babyjubjub/*
test/circuits/babyjubjub/*
test/montogomery.js
input*.json
tmp.circom
tmp.txt